/* Animeringar */
@keyframes spinn {
    100%{
        rotate: 360deg;
    }
    50%{
        scale: 1.07;
    }
}

@keyframes side-menu-open{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animeringar (Lånat från TailWind) */
@keyframes jump {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-jump {
    animation: bounce 1s infinite;
}