@charset "UTF-8";
/* Importera font från fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  font-size: 62.5%;
  --background-color: #ffffff;
  --background-color-fade: rgb(244, 241, 254);
  --background-color-alt: rgb(250, 250, 252);
  --background-color-subscribe: rgb(239, 242, 252);
  --button-border-color: rgb(23, 27, 37);
  --button-color: #6366F1;
  --button-nav-color: #3E4265;
  --button-discovery-color: #FFFFFF; /* Same color on arrow as nav-color */
  --button-circle: rgb(225, 227, 235);
  --button-circle-expanded: rgb(99, 102, 241);
  --button-toggle-bg: #9397AD;
  --text-header: #131022;
  --text-paragraph: #585C7B;
  --logo-icon-color: #FFFFFF;
  --logo-icon-bg-color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  width: 100vw;
}

.p-outerFrame {
  padding-inline: 1.18rem;
}

* {
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.topNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  max-width: 1366px;
}
.topNavBar .leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.25rem;
  gap: 0.75rem;
}
.topNavBar .leftSide h1 {
  font-size: 2.08rem;
  font-weight: 900;
  color: var(--text-header);
}
.topNavBar .leftSide .navBarLinks {
  padding-inline-start: 3rem;
  display: none;
  gap: 2rem;
}
.topNavBar .leftSide .navBarLinks p {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--text-paragraph);
}
.topNavBar .rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0rem 0rem;
  gap: 1rem;
}
.topNavBar .rightSide .darkModeText {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0.5rem;
  color: var(--text-paragraph);
}
.topNavBar .rightSide .toggleSwitch {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  border: none;
  background-color: transparent;
}
.topNavBar .rightSide .toggleSwitch .toggleSwitch-bg {
  width: 4.6rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  background-color: var(--button-toggle-bg);
  box-shadow: 0px 8px 12px 0px rgba(131, 135, 255, 0.4);
}
.topNavBar .rightSide .toggleSwitch .toggleSwitch-bg-dark {
  background-color: var(--button-toggle-bg-dark);
}
.topNavBar .rightSide .toggleSwitch .toggleSwitch-dot {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  top: 0.3rem;
  left: 0.45rem;
  background-color: white;
}
.topNavBar .rightSide .toggleSwitch .toggleSwitch-dot-dark {
  left: 2.45rem;
}
.topNavBar .rightSide .navButton-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  cursor: pointer;
}
.topNavBar .rightSide .navButton-container .navButton {
  background-color: var(--button-nav-color);
  width: 2.2rem;
  height: 0.235rem;
}
.topNavBar .rightSide .signInButton {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 14rem;
  height: 3.6rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.manageMoney-container {
  width: 100vw;
  height: 100svh;
  background: linear-gradient(transparent, var(--background-color-fade));
  border: 1px solid lime;
}

.dark {
  --background-color: #000000;
  --background-color-fade: rgb(244, 241, 254);
  --background-color-alt: rgb(250, 250, 252);
  --background-color-subscribe: rgb(239, 242, 252);
  --button-border-color: rgb(23, 27, 37);
  --button-color: #6366F1;
  --button-nav-color: #3E4265;
  --button-discovery-color: #FFFFFF;
  --button-circle: rgb(225, 227, 235);
  --button-circle-expanded: rgb(99, 102, 241);
  --button-toggle-bg: #6366F1;
  --text-header: #FFFFFF;
  --text-paragraph: #FFFFFF;
  --logo-icon-color: #FFFFFF;
  --logo-icon-bg-color: #FFFFFF;
}

@media (min-width: 768px) {
  .p-outerFrame {
    padding-inline: 2rem;
  }
  .leftSide {
    margin: 0.51rem 1.5rem;
  }
  .topNavBar .rightSide .darkModeText {
    display: flex;
  }
  .topNavBar .rightSide .toggleSwitch {
    margin-right: 4.5rem;
  }
  .topNavBar .rightSide .navButton-container {
    margin-inline: 0rem;
  }
}
@media (min-width: 1280px) {
  .p-outerFrame {
    padding-inline: 3.5rem;
  }
  .topNavBar .leftSide .navBarLinks {
    display: flex;
  }
  .topNavBar .rightSide .darkModeText {
    display: flex;
  }
  .topNavBar .rightSide .toggleSwitch {
    margin-right: 3.5rem;
  }
  .topNavBar .rightSide .navButton-container {
    display: none;
  }
  .topNavBar .rightSide .signInButton {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */