@charset "UTF-8";
/* Importera font från fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  font-size: 62.5%;
  --background-color: #FFFFFF;
  --background-color-fade: #f4f1fe;
  --background-color-alt: #F3F6FF;
  --background-color-subscribe: #F3F6FF;
  --background-color-review: #F3F6FF;
  --button-border-color: #B4B7C9;
  --button-color: #6366F1;
  --button-nav-color: #3E4265;
  --button-discovery-color: #FFFFFF;
  --button-discovery-text-color: #33354D;
  --button-circle: rgb(225, 227, 235);
  --button-circle-expanded: rgb(99, 102, 241);
  --button-toggle-bg: #9397AD;
  --text-header: #131022;
  --text-paragraph: #585C7B;
  --text-navbar: #33354D;
  --logo-icon-color: #FFFFFF;
  --logo-icon-bg-color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  width: 100vw;
}

.p-outerFrame {
  padding-inline: 1.18rem;
}

* {
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* p {
  color: var(--text-paragraph);
}
* h1 {
  color: var(--text-header);
}
* h2 {
  color: var(--text-header);
}
* h3 {
  color: var(--text-header);
}

.first-page-bg {
  width: 100vw;
  height: 100svh;
  background: linear-gradient(transparent, var(--background-color-fade));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-page-bg .topNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  max-width: 860px;
}
.first-page-bg .topNavBar .leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.25rem;
  gap: 0.75rem;
}
.first-page-bg .topNavBar .leftSide h1 {
  font-size: 2.08rem;
  font-weight: 900;
  color: var(--text-header);
}
.first-page-bg .topNavBar .leftSide .navBarLinks {
  padding-inline-start: 3rem;
  display: none;
  gap: 2rem;
}
.first-page-bg .topNavBar .leftSide .navBarLinks p {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--text-navbar);
}
.first-page-bg .topNavBar .rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0rem 0rem;
  gap: 1rem;
}
.first-page-bg .topNavBar .rightSide .darkModeText {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0.5rem;
  color: var(--text-paragraph);
}
.first-page-bg .topNavBar .rightSide .toggleSwitch {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  border: none;
  background-color: transparent;
}
.first-page-bg .topNavBar .rightSide .toggleSwitch .toggleSwitch-bg {
  width: 4.6rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  background-color: var(--button-toggle-bg);
  box-shadow: 0px 8px 12px 0px rgba(131, 135, 255, 0.4);
}
.first-page-bg .topNavBar .rightSide .toggleSwitch .toggleSwitch-bg-dark {
  background-color: var(--button-toggle-bg-dark);
}
.first-page-bg .topNavBar .rightSide .toggleSwitch .toggleSwitch-dot {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  top: 0.3rem;
  left: 0.45rem;
  background-color: white;
}
.first-page-bg .topNavBar .rightSide .toggleSwitch .toggleSwitch-dot-dark {
  left: 2.45rem;
}
.first-page-bg .topNavBar .rightSide .navButton-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  cursor: pointer;
}
.first-page-bg .topNavBar .rightSide .navButton-container .navButton {
  background-color: var(--button-nav-color);
  width: 2.2rem;
  height: 0.235rem;
}
.first-page-bg .topNavBar .rightSide .signInButton {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 14rem;
  height: 3.6rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 0.5rem;
  color: white;
}
.first-page-bg .manageMoney-container {
  max-width: 820px;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  position: relative;
}
.first-page-bg .manageMoney-container .manageMoney-header {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 3rem;
  grid-area: header;
}
.first-page-bg .manageMoney-container .manageMoney-header h2 {
  font-size: 3.41rem;
  font-weight: 900;
  max-width: 39rem;
  color: var(--text-header);
}
.first-page-bg .manageMoney-container .manageMoney-text {
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--text-paragraph);
  grid-area: text;
}
.first-page-bg .manageMoney-container .manageMoney-text p {
  font-size: 1.8rem;
  font-weight: normal;
  max-width: 44rem;
}
.first-page-bg .manageMoney-container .manageMoney-text .manageMoney-link-wrapper-sm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.first-page-bg .manageMoney-container .manageMoney-text .manageMoney-link-wrapper-md {
  display: none;
  flex-direction: row;
  gap: 2rem;
}
.first-page-bg .manageMoney-container .manageMoney-text .manageMoney-link-wrapper-lg {
  display: none;
  flex-direction: row;
  gap: 2rem;
}
.first-page-bg .manageMoney-container .manageMoney-text .manageMoney-discover-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-page-bg .manageMoney-container .manageMoney-text .manageMoney-discover-btn button {
  width: 4.4rem;
  height: 4.4rem;
  margin: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 2.2rem;
  background-color: var(--button-discovery-color);
  color: var(--button-discovery-text-color);
  rotate: 180deg;
}
.first-page-bg .manageMoney-container .manageMoney-text .manageMoney-discover-btn button p {
  position: relative;
  top: 3px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.first-page-bg .manageMoney-container .manageMoney-phones {
  display: none;
  position: absolute;
  grid-area: phones;
  bottom: 0;
  right: 0;
}
.first-page-bg .grid-template {
  display: grid;
  grid-auto-rows: minmax(0, auto);
  grid-template-areas: "header" "text";
}

.logoSection {
  display: none;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding-block: 6rem;
}
.logoSection .logo {
  display: flex;
  background-color: var(--logo-icon-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.85rem;
  height: 9.54rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.141);
}
.logoSection .logo4 {
  display: none;
}
.logoSection .logo5 {
  display: none;
}

.appFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.18rem;
  max-width: 800px;
}
.appFeatures .phoneSide {
  display: none;
}
.appFeatures .headerAndText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 3rem;
  text-align: center;
}
.appFeatures .headerAndText h2 {
  font-size: 2.8rem;
}
.appFeatures .headerAndText p {
  font-size: 1.8rem;
}
.appFeatures .features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.appFeatures .features h3 {
  font-size: 2rem;
}
.appFeatures .features p {
  font-size: 1.6rem;
}
.appFeatures .features .feature {
  max-width: 350px;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.appFeatures .features .feature .img-container {
  padding: 1.6rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-alt);
}
.appFeatures .features .feature .img-container img {
  width: 2.8rem;
}

.howDoesItWork {
  width: 100%;
  background-color: var(--background-color-alt);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.howDoesItWork .hdiw-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 600px;
}
.howDoesItWork .hdiw-bg .hdiw-sm {
  display: flex;
  flex-direction: column;
}
.howDoesItWork .hdiw-bg .hdiw-sm p {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 5rem;
}
.howDoesItWork .hdiw-bg .hdiw-sm h2 {
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: 5rem;
  padding-block: 2rem;
}
.howDoesItWork .hdiw-bg .hdiw-sm h3 {
  font-size: 2.16rem;
  font-weight: 900;
  padding-block: 2rem;
  text-wrap: balance;
}
.howDoesItWork .hdiw-bg .hdiw-sm .image {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.howDoesItWork .hdiw-bg .hdiw-sm .image .overlay {
  position: absolute;
  scale: 1;
  scale: 0.835;
  bottom: -4.25rem;
  border-radius: 4rem;
}
.howDoesItWork .hdiw-bg .hdiw-md {
  display: none;
  flex-direction: column;
  align-items: center;
}
.howDoesItWork .hdiw-bg .hdiw-md p {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 5rem;
  max-width: 600px;
}
.howDoesItWork .hdiw-bg .hdiw-md h2 {
  font-size: 3.35rem;
  font-weight: 900;
  margin-top: 5rem;
  padding-block: 2rem;
}
.howDoesItWork .hdiw-bg .hdiw-md h3 {
  font-size: 2.27rem;
  font-weight: 900;
  padding-block: 2rem;
  text-wrap: balance;
}
.howDoesItWork .hdiw-bg .hdiw-md .image {
  display: flex;
  justify-content: center;
  position: relative;
}
.howDoesItWork .hdiw-bg .hdiw-md .image .overlay {
  position: absolute;
  scale: 1.01;
}
.howDoesItWork .hdiw-bg .hdiw-lg {
  display: none;
  flex-direction: column;
  align-items: center;
}
.howDoesItWork .hdiw-bg .hdiw-lg p {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 8rem;
  max-width: 800px;
}
.howDoesItWork .hdiw-bg .hdiw-lg h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-top: 5rem;
  padding-block: 4rem;
}
.howDoesItWork .hdiw-bg .hdiw-lg h3 {
  font-size: 2.46rem;
  font-weight: 900;
  padding-block: 2rem;
  text-wrap: balance;
}
.howDoesItWork .hdiw-bg .hdiw-lg .image {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.howDoesItWork .hdiw-bg .hdiw-lg .image .overlay {
  position: absolute;
  scale: 1.01;
}

.features-demo {
  padding: 1.18rem;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.features-demo h2 {
  font-size: 2.8rem;
  font-weight: 900;
  max-width: 450px;
}
.features-demo p {
  font-size: 1.6rem;
  font-weight: normal;
}
.features-demo button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 14rem;
  height: 3.6rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 0.5rem;
  color: white;
}
.features-demo .lowerRight .image-containers {
  display: flex;
  gap: 2rem;
}
.features-demo .lowerRight .image-containers .img-container {
  max-width: 25rem;
}
.features-demo .lowerRight .image-containers .img-container .img-bg {
  width: 6rem;
  padding: 1.6rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-alt);
}
.features-demo .lowerRight .image-containers .img-container .img-bg img {
  width: 2.8rem;
}

.reviews-section-bg {
  width: 100vw;
  background-color: var(--background-color-subscribe);
  display: none;
  justify-content: center;
  padding: 8rem;
}
.reviews-section-bg .reviews-section {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1260px;
}
.reviews-section-bg .reviews-section h2 {
  color: var(--text-header);
  font-size: 4rem;
  font-weight: 900;
}
.reviews-section-bg .reviews-section .reviews-card-section {
  display: flex;
  justify-content: end;
  gap: 3rem;
}
.reviews-section-bg .reviews-section .reviews-card-section .reviews-card {
  background-color: var(--background-color-alt);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 5rem;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.212);
  width: 415px;
  border-radius: 0.5rem;
  position: relative;
  font-size: 1.8rem;
}
.reviews-section-bg .reviews-section .reviews-card-section .reviews-card .reviews-card-quotes {
  position: absolute;
  width: 7rem;
  top: -35px;
  left: 0px;
}
.reviews-section-bg .reviews-section .reviews-card-section .reviews-card .reviews-card-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews-section-bg .reviews-section .reviews-card-section .reviews-card .reviews-card-user h3 {
  font-size: 1.6rem;
  color: var(--text-header);
}
.reviews-section-bg .reviews-section .reviews-card-section .reviews-card .reviews-card-user p {
  font-size: 1.4rem;
}

.faq-contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.18rem;
  max-width: 820px;
  text-align: center;
}
.faq-contact-section h2 {
  font-size: 2.47rem;
  font-weight: 900;
  color: var(--text-header);
  margin-block: 3rem;
}
.faq-contact-section p {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--text-paragraph);
}
.faq-contact-section .faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  width: 100%;
  padding-top: 3rem;
}
.faq-contact-section .faq-container .faq-questions-container {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;
  background-color: var(--background-color-alt);
}
.faq-contact-section .faq-container .faq-questions-container .faq {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
}
.faq-contact-section .faq-container .faq-questions-container .faq .faq-question-text {
  color: var(--text-header);
  font-size: 1.6rem;
  text-align: start;
  font-weight: 900;
  padding-inline-end: 1rem;
}
.faq-contact-section .faq-container .faq-questions-container .faq .faq-question-btn-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.faq-contact-section .faq-container .faq-questions-container .faq .faq-question-btn-container .faq-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  padding: 2rem;
  border: none;
  border-radius: 100%;
  background-color: var(--button-circle);
  position: relative;
}
.faq-contact-section .faq-container .faq-questions-container .faq .faq-question-btn-container .faq-btn .faq-btn-text {
  position: absolute;
  top: 11px;
  color: black;
  font-weight: 500;
  text-align: center;
}
.faq-contact-section .faq-container .faq-questions-container .faq .faq-question-btn-container .faqBtnExpanded {
  position: absolute;
  transform: rotateY(180);
}
.faq-contact-section .faq-container .faq-questions-container .b-bottom {
  border-bottom: 1px solid var(--button-border-color);
}
.faq-contact-section .faq-container .faq-questions-container .faqColapsed {
  display: none;
}
.faq-contact-section .faq-container .faq-questions-container .faqNotColapsed {
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  text-align: start;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-top: 1px solid var(--button-border-color);
}
.faq-contact-section .faq-container .faq-questions-container .faqNotColapsed p {
  font-size: 1.4rem;
  font-weight: normal;
}
.faq-contact-section .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
.faq-contact-section .contact-container button {
  display: block;
  margin: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--button-color);
  color: white;
}
.faq-contact-section .contact-container .contract-boxes {
  display: none;
  gap: 3rem;
  width: 100%;
}
.faq-contact-section .contact-container .contract-boxes .contact-box {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  font-size: 1.4rem;
  text-align: start;
  color: var(--text-paragraph);
}
.faq-contact-section .contact-container .contract-boxes .contact-box img {
  width: 2.8rem;
}
.faq-contact-section .contact-container .contract-boxes .contact-box p {
  margin-top: 1.5rem;
}
.faq-contact-section .contact-container .contract-boxes .box-1 .contact-contactText {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.faq-contact-section .contact-container .contract-boxes .box-1 .contact-contactText p {
  color: var(--button-color);
  margin-block: auto;
  font-size: 1.4rem;
  font-weight: 600;
}
.faq-contact-section .contact-container .contract-boxes .box-1 .contact-contactText span {
  color: var(--button-color);
  margin-block: auto;
  font-size: 1.6rem;
}
.faq-contact-section .contact-container .contract-boxes .box-2 .contact-contactText p {
  color: rgb(0, 190, 0);
}
.faq-contact-section .contact-container .contract-boxes .box-2 .contact-contactText span {
  color: rgb(0, 190, 0);
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--background-color-subscribe);
  margin-inline: 1.18rem;
  margin-top: 3rem;
  border-radius: 1rem;
  max-width: 1280px;
}
.subscribe-container .subscribe-notification-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.subscribe-container .subscribe-notification-container #lg {
  display: none;
}
.subscribe-container .subscribe-notification-container h2 {
  color: var(--text-header);
  font-size: 2.16rem;
}
.subscribe-container .subscribe-notification-container img {
  width: 7.8rem;
  animation: jump 1s infinite;
}
.subscribe-container .subscribe-input-container {
  display: flex;
  margin: 2rem;
  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
}
.subscribe-container .subscribe-input-container img {
  width: 1.8rem;
  margin-left: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.subscribe-container .subscribe-input-container input {
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  width: 150px;
}
.subscribe-container .subscribe-input-container button {
  border: none;
  background-color: var(--button-color);
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  padding: 1rem;
}

footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-paragraph);
}

.border {
  border: 1px solid red;
}

@media (min-width: 768px) {
  .p-outerFrame {
    padding-inline: 2rem;
  }
  .first-page-bg {
    min-height: 650px;
    max-height: 760px;
  }
  .first-page-bg .topNavBar .leftSide {
    margin: 0.51rem 1.5rem;
  }
  .first-page-bg .topNavBar .rightSide .darkModeText {
    display: flex;
  }
  .first-page-bg .topNavBar .rightSide .toggleSwitch {
    margin-right: 4.5rem;
  }
  .first-page-bg .topNavBar .rightSide .navButton-container {
    margin-inline: 0rem;
  }
  .first-page-bg .manageMoney-container {
    display: grid;
  }
  .first-page-bg .manageMoney-container .manageMoney-header h2 {
    font-size: 4.43rem;
    max-width: 445px;
  }
  .first-page-bg .manageMoney-container .manageMoney-text {
    place-items: start;
    text-align: start;
  }
  .first-page-bg .manageMoney-container .manageMoney-text .manageMoney-text-top {
    margin-top: 8rem;
  }
  .first-page-bg .manageMoney-container .manageMoney-text .manageMoney-link-wrapper-sm {
    display: none;
  }
  .first-page-bg .manageMoney-container .manageMoney-text .manageMoney-link-wrapper-md {
    display: flex;
  }
  .first-page-bg .manageMoney-container .manageMoney-phones {
    display: grid;
  }
  .first-page-bg .manageMoney-container .manageMoney-phones .manageMoney-phones-lg {
    display: none;
  }
  .first-page-bg .grid-template {
    grid-template-columns: 45% 55%;
    grid-template-areas: "header header" "text phones" "text phones";
  }
  .logoSection {
    display: flex;
  }
  .howDoesItWork .hdiw-bg .hdiw-sm {
    display: none;
  }
  .howDoesItWork .hdiw-bg .hdiw-md {
    display: flex;
  }
  .faq-contact-section .contact-container .contact-button {
    display: none;
  }
  .faq-contact-section .contact-container .contract-boxes {
    display: flex;
  }
  .subscribe-container {
    flex-direction: row;
    gap: 2rem;
    padding-inline: 3rem;
    padding-block: 5rem;
  }
  .subscribe-container .subscribe-notification-container {
    width: 50%;
    padding: 0rem;
    text-wrap: wrap;
  }
  .subscribe-container .subscribe-notification-container h2 {
    font-size: 2.27rem;
    font-weight: 800;
  }
  .subscribe-container .subscribe-input-container {
    margin: 0;
  }
  .subscribe-container .subscribe-input-container img {
    margin-left: 2rem;
  }
  .subscribe-container .subscribe-input-container input {
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }
  .subscribe-container .subscribe-input-container button {
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }
  footer {
    flex-direction: row;
    gap: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .p-outerFrame {
    padding-inline: 3.5rem;
  }
  .first-page-bg {
    min-height: 760px;
    max-height: 1000px;
  }
  .first-page-bg .topNavBar {
    max-width: 1296px;
  }
  .first-page-bg .topNavBar .leftSide .navBarLinks {
    display: flex;
  }
  .first-page-bg .topNavBar .rightSide .darkModeText {
    display: flex;
  }
  .first-page-bg .topNavBar .rightSide .toggleSwitch {
    margin-right: 3.5rem;
  }
  .first-page-bg .topNavBar .rightSide .navButton-container {
    display: none;
  }
  .first-page-bg .topNavBar .rightSide .signInButton {
    display: flex;
  }
  .first-page-bg .manageMoney-container {
    max-width: 1260px;
  }
  .first-page-bg .manageMoney-container .manageMoney-header {
    place-items: center;
    text-align: start;
  }
  .first-page-bg .manageMoney-container .manageMoney-header h2 {
    font-size: 5.43rem;
    max-width: 100%;
  }
  .first-page-bg .manageMoney-container .manageMoney-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .first-page-bg .manageMoney-container .manageMoney-text .manageMoney-text-top {
    margin-top: 0rem;
  }
  .first-page-bg .manageMoney-container .manageMoney-text .manageMoney-link-wrapper-md {
    display: none;
  }
  .first-page-bg .manageMoney-container .manageMoney-text .manageMoney-link-wrapper-lg {
    display: flex;
  }
  .first-page-bg .manageMoney-container .manageMoney-text .manageMoney-discover-btn {
    margin-bottom: 3rem;
  }
  .first-page-bg .manageMoney-container .manageMoney-phones {
    display: grid;
  }
  .first-page-bg .manageMoney-container .manageMoney-phones .manageMoney-phones-md {
    display: none;
  }
  .first-page-bg .manageMoney-container .manageMoney-phones .manageMoney-phones-lg {
    display: block;
  }
  .first-page-bg .grid-template {
    grid-template-columns: 45% 55%;
    grid-template-areas: "header phones" "text phones" "text phones";
  }
  .logoSection {
    max-width: 1240px;
    padding-block: 8rem;
  }
  .logoSection .logo {
    width: 19.6rem;
    height: 10rem;
  }
  .logoSection .logo4 {
    display: flex;
  }
  .logoSection .logo5 {
    display: flex;
  }
  .appFeatures {
    max-width: 1240px;
    flex-direction: row;
  }
  .appFeatures .phoneSide {
    display: flex;
    margin-block: 6rem;
  }
  .appFeatures .restSide {
    margin-left: 10rem;
  }
  .appFeatures .restSide .features {
    justify-content: start;
  }
  .appFeatures .headerAndText {
    text-align: start;
  }
  .appFeatures .headerAndText h2 {
    font-size: 3.1rem;
    font-weight: 800;
  }
  .appFeatures .headerAndText p {
    font-size: 1.8rem;
  }
  .howDoesItWork .hdiw-bg .hdiw-md {
    display: none;
  }
  .howDoesItWork .hdiw-bg .hdiw-lg {
    display: flex;
  }
  .reviews-section-bg {
    display: flex;
  }
  .faq-contact-section {
    max-width: 1260px;
    display: grid;
    gap: 3rem;
    grid-template-columns: 30% 1fr;
    grid-auto-rows: minmax(100px, auto);
    text-align: start;
    padding: 1rem;
  }
  .faq-contact-section .faq-title {
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .faq-contact-section .faq-container {
    grid-column: 2/3;
    grid-row: 1/3;
    min-width: 800px;
  }
  .faq-contact-section .contact-container {
    grid-column: 1/1;
    grid-row: 2/3;
  }
  .subscribe-container {
    flex-direction: row;
    gap: 4rem;
    padding-inline: 8rem;
    padding-block: 5rem;
    width: 100%;
    max-width: 1240px;
  }
  .subscribe-container .subscribe-notification-container {
    width: 50%;
    padding: 0rem;
    text-wrap: wrap;
  }
  .subscribe-container .subscribe-notification-container #sm {
    display: none;
  }
  .subscribe-container .subscribe-notification-container #lg {
    display: flex;
  }
  .subscribe-container .subscribe-notification-container h2 {
    font-size: 2.27rem;
    font-weight: 800;
  }
  .subscribe-container .subscribe-input-container {
    display: flex;
    justify-content: space-between;
    width: 472px;
    margin: 0;
  }
  .subscribe-container .subscribe-input-container img {
    margin-left: 2rem;
  }
  .subscribe-container .subscribe-input-container input {
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }
  .subscribe-container .subscribe-input-container button {
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }
}
.dark {
  --background-color: #0B0F19;
  --background-color-fade: #161225;
  --background-color-alt: hsl(223, 25%, 13%);
  --background-color-subscribe: #151822;
  --background-color-review: #1E222B;
  --button-border-color: #42426D;
  --button-color: #6366F1;
  --button-nav-color: #3E4265;
  --button-discovery-color: hsla(0, 0%, 100%, 0.05);
  --button-discovery-text-color: #ffffff;
  --button-circle: rgb(225, 227, 235);
  --button-circle-expanded: rgb(99, 102, 241);
  --button-toggle-bg: #6366F1;
  --text-header: #FFFFFF;
  --text-paragraph: #75777D;
  --text-navbar: #DDDDDF;
  --logo-icon-bg-color: #ffffff00;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-jump {
  animation: bounce 1s infinite;
}

.hover:hover {
  scale: 1.05;
}/*# sourceMappingURL=style.css.map */