

// Flex row
@mixin flex-row-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
@mixin flex-row-middle-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
@mixin flex-row-middle-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}



// Flex column
@mixin flex-col-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-col-top-left{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}
@mixin flex-col-top-center{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
@mixin flex-col-top-right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

@mixin flex-col-middle-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
@mixin flex-col-middle-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex-col-middle-right{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-col-bottom-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}
@mixin flex-col-bottom-center{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
@mixin flex-col-bottom-right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}