.gap-1{
    gap: 0.125rem;
}
.gap-2{
    gap: 0.25rem;
}
.gap-3{
    gap: 0.375rem;
}
.gap-4{
    gap: 0.5rem;
}
.gap-5{
    gap: 0.625rem;
}
.gap-6{
    gap: 0.75rem;
}
.gap-7{
    gap: 0.875rem;
}
.gap-8{
    gap: 1rem;
}
.gap-9{
    gap: 1.125rem;
}
.gap-10{
    gap: 1.250rem;
}
.gap-12{
    gap: 1.50rem;
}
.gap-14{
    gap: 1.75rem;
}
.gap-16{
    gap: 2.0rem;
}
.gap-18{
    gap: 2.25rem;
}
.gap-20{
    gap: 2.5rem;
}