.login-pop-up{
    position: fixed;
    top: calc(-150px + 50svh);
    left: 10%;
    width: 80%;
    height: 315px;
    z-index: 99;

    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(7px);
    border: black 1px solid;
    border-radius: .5rem;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    #close{
        align-self: flex-end;
        justify-content: flex-start;
        margin-top: 2rem;
        margin-right: 2rem;
    }
    form{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

}

.contact-pop-up{
    position: fixed;
    top: calc(-150px + 50svh);
    left: 10%;
    width: 80%;
    height: 300px;
    z-index: 99;

    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(7px);
    border: black 1px solid;
    border-radius: .5rem;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    button{
        align-self: flex-end;
        justify-content: flex-start;
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .contact-alternatives{
        padding-top: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

.pop-up-active{
    display: flex;
}