.shadow-sm{
    box-shadow: 0 4.4px 12px rgba(19, 16, 34, 0.06), 0 2px 6.4px rgba(19, 16, 34, 0.03);
}
.shadow-md{
    box-shadow: 0 4.4px 20px rgba(19, 16, 34, 0.05), 0 4px 9px rgba(19, 16, 34, 0.03);
}
.shadow-lg{
    box-shadow: 0 4.8px 24.4px rgba(19, 16, 34, 0.10), 0 4px 13px rgba(19, 16, 34, 0.06);
}
.shadow-brands{
    box-shadow: 0 8px 18px rgba(99, 101, 241, 0.90);
}